{% extends 'base.html' %}
{% block content %}
{% for item in cart.cartitem_set.all %}
   <div>
      <img width="75px" height="75px" src="{{ MEDIA_URL }}{{ item.product.picture }}"/>
      <p>{{ item.product.name }}</p>
      <p>{{ item.product.price }}</p>
      <p>{{ item.qty }}</p>
      <button class="cart_remover" data-product_id="{{ item.id }}">Delete from cart</button>
   </div>
{% endfor %}
<div ng-app="cartsApp">
    <div ng-controller="cartitemsController">
        <div ng-repeat"cartitem in data">
            <p>{[{ cartitem.product.name }]}</p>
            <p>{[{ cartitem.product.price }]}</p>
            <p>{[{ cartitem.product.qty }]}</p>
            <button ng-click="removeitem(cartitem.id)">Remove</button>
        </div>
    </div>
</div>
<script>
$('.cart_remover').click(function(event){
   $.get(
      "/carts/delete/" + $(this).data('product_id'),
      function(data){
          alert(data);
      }
   )
   .fail(function(){ 
      alert("I'm sorry and error occured.");
   });
});
</script>
{% endblock content %}
