{% extends 'base.html' %}
{% load staticfiles %}

{% block head_tags %}
<script src="{% static 'carts/js/ctrl.js' %}"></script>
{% endblock head_tags %}

{% block content %}
<div ng-app="cartitemsApp">
    <div ng-init="init()" ng-controller="cartitemsController">
        <div ng-repeat="cartitem in data">
            <p>{[{ cartitem.product.name }]}</p>
            <p>{[{ cartitem.product.price }]}</p>
            <p>{[{ cartitem.qty }]}</p>
            <button ng-click="removeitem(cartitem.id)">Remove</button>
        </div>
    </div>
</div>
<script>
$('.cart_remover').click(function(event){
   $.get(
      "/carts/delete/" + $(this).data('product_id'),
      function(data){
          alert(data);
      }
   )
   .fail(function(){ 
      alert("I'm sorry and error occured.");
   });
});
</script>
{% endblock content %}
