$background: hsl(0, 0%, 98%);
$color-base: hsl(173, 90%, 35%);
$color-base-light: hsl(173, 90%, 45%);
$navigation: hsl(0, 0%, 80%);

* {
   background-color: $background;
}

ul {
  background-color: $color-base;
  li a {
    &:hover {
      background-color: $color-base-light;
    }
  }
}

.product_box {
  width: 300px;
  background-color: $color-base;
}
