@mixin textbox_attr {
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 5px;
  height: 25px;
}

form {
  border: 1px solid hsl(0, 0%, 75%);
  label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: hsl(0, 0%, 20%);
    font-weight: bold;
  }
  p {
    box-sizing: border-box;
    width: inherit;
    input {
      float: right;
      &[type="text"] {
        @include textbox_attr;
      }
      &[type="password"] {
        @include textbox_attr;
      }
      &[type="email"] {
        @include textbox_attr;
      }
    }
  }
}
