@mixin textbox_attr {
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 5px;
  height: 25px;
  color: hsl(0, 0%, 28%);
  padding-left: 10px;
  padding-right: 10px;
}

form {
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 2px;
  padding: 20px;
  font-size: 14px;
  
  p {
    display: block;
    margin-bottom: 25px;
     
    label {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: hsl(0, 0%, 20%);
      font-weight: bold;
    }
    input {
      float: right;
      &[type="text"] {
        @include textbox_attr;
      }
      &[type="password"] {
        @include textbox_attr;
      }
      &[type="email"] {
        @include textbox_attr;
      }
    }

  }
  button[type="submit"] {
    display: block;
    background-color: hsl(173, 90%, 35%);
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
}
