// SETTINGS

// Base settings
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-color: hsl(173, 90%, 35%);
$base-color-light: lighten($base-color, 5%);
$base-color-dark: darken($base-color, 5%);

// Horizontal navigation settings.
$horinav-font-family: $base-font-family; 
$horinav-ul-list-style-type: none;
$horinav-li-width: 100px;
$horinav-li-border-right: 1px solid $base-color-dark;
$horinav-li-a-text-align: center; 
$horinav-a-padding-top: 4px;
$horinav-a-padding-bottom: 4px;
$horinav-a-line-height: 30px;
$horinav-a-background-color: $base-color;
$horinav-li-a-color: white;
$horinav-li-a-text-decoration: none;
$horinav-ul-ul-box-shadow: 0px 1px 3px 0px #333333;
$horinav-ul-ul-a-background-color: white;
$horinav-ul-ul-a-hover-background-color: $base-color;
$horinav-ul-ul-a-color: $base-color-dark;
$horinav-ul-ul-a-hover-color: white;

// Form settings
$form-border: 1px solid hsl(0, 0%, 70%);
$form-border-radius: 2px;
$form-padding: 20px;
$form-font-size: 100%;
$form-font-family: $base-font-family;
$form-vertical-p-margin-bottom: 25px;
$form-vertical-label-color: hsl(0, 0%, 20%);
$form-vertical-label-font-weight: bold;
$form-horizontal-width: auto;
$form-horizontal-p-margin-right: 10px;

// @media settings;
$galaxy-width: 500px;

// Horinav Layout
.horinav {
  width: 100%;
  ul {
    li {
      float: left;
      @media (max-width: $galaxy-width){
        float: none;
      }
      position: relative;
      a {
        display: block;
      }
      ul {
        display: none; 
      }
      &:hover ul {
        display: block;
        position: absolute;
      }
    }
  }
}

// Horinav Styling
.horinav {
  font-family: $horinav-font-family; 
  background-color: $base-color;
  ul {
    list-style-type: $horinav-ul-list-style-type; 
    li {
      width: $horinav-li-width;
      @media (max-width: $galaxy-width) {
        width: 100%;
      }
      @media (max-device-width: $galaxy-width) {
        width: 100%;
      }
      border-right: $horinav-li-border-right;
      a {
        text-decoration: $horinav-li-a-text-decoration;
        text-align: $horinav-li-a-text-align;
        padding-top: $horinav-a-padding-top;
        padding-bottom: $horinav-a-padding-bottom;
        line-height: $horinav-a-line-height;
        background-color: $horinav-a-background-color;
        color: $horinav-li-a-color;
          
        &:hover {
          background-color: $base-color-light;
        }
      }
      ul {
        box-shadow: $horinav-ul-ul-box-shadow; 
        li a {
          background-color: $horinav-ul-ul-a-background-color;
          border-top: $base-color-dark;
          color: $horinav-ul-ul-a-color;
          &:hover {
            background-color: $horinav-ul-ul-a-hover-background-color;
            color: $horinav-ul-ul-a-hover-color;
          }
        }
      }
    }
  }
}

// Vertinav styling

.vertinav {
  ul {
    font-family: $base-font-family;
    list-style-type: none;  
    li a {
      width: 200px;
      text-align: center;
      line-height: 30px;
      display: block;
      background-color: white; 
      text-decoration: none;
      color: $base-color-dark;
      &:hover {
        background-color: $base-color; 
        color: white;
      }
    }
  }
}

// Form extenders.

%textbox {
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 5px;
  height: 25px;
  color: hsl(0, 0%, 28%);
  padding-left: 10px;
  padding-right: 10px;
  &:focus {
    outline: none;
    border-radius: 5px;
    border: 2px solid $base-color;
  }
}


// mango-form Layout.
form.mango-form
{
  @media (max-device-width: $galaxy-width){
    width: 100%;
  }
  box-sizing: border-box;
  &.vertical {
    p {
      display: block;
      input {
        float: right;
      }
      @media (max-device-width: $galaxy-width){
        display: block;
        label {
          display: block;
        }
        input {
          display: block;
          float: none;
        }
      }
      @media (max-width: $galaxy-width){
        display: block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        label {
          display: block;
        }
        input {
          box-sizing: border-box;
          display: block;
          float: none;
          width: 100%;
        }
      }
    }
  }

  &.horizontal {
    p {
      display: inline;
    }
  }
}

// mango-form styling.
form.mango-form {

  border: $form-border;
  border-radius: $form-border-radius;
  padding: $form-padding;
  font-size: $form-font-size;
  font-family: $form-font-family;

  &.vertical p {
    margin-bottom: $form-vertical-p-margin-bottom;
     
    label {
      color: $form-vertical-label-color; 
      font-weight: $form-vertical-label-font-weight;
    }
    input {
      &[type="text"] {
        @extend %textbox;
      }
      &[type="password"] {
        @extend %textbox;
      }
      &[type="email"] {
        @extend %textbox;
      }
    }

  }
  button[type="submit"] {
    display: block;
    background-color: $base-color;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }

  &.horizontal {
    width: $form-horizontal-width;
  }
 
  &.horizontal p {
    margin-right: $form-horizontal-p-margin-right;
  }
}
