{% extends 'base.html' %}
{% load staticfiles %}
{% block head_tags %}
<script src="{% static 'products/js/ctrl.js' %}"></script>
{% endblock head_tags %}
{% block content %}

   {% include 'products/includes/sidebar_categories.html' %}
<div ng-app="productsApp">
<div id="productsController" ng-controller="productsController">
<div>
   <form class="horizontal">
     <p><label for="q">Sort By</label>
      <select id="id_ordering" name="ordering">
         <option value="price">Low to High</option>
         <option value="-price">High to Low</option>
      </select>
     </p>
   {{ filter_form.as_p }}
   </form>
   <script>
   window.onload = function(){
       $('#id_color').on('focus', function(){
           previous_color = this.value;
       }).change(function(){
           angular.element('#productsController').scope().update_tagurl($(this).val(), previous_color);
           previous_color = this.value;
       })
       
       $('#id_style').on('focus', function(){
           previous_style = this.value;
       }).change(function(){
           angular.element('#productsController').scope().update_tagurl($(this).val(), previous_style);
           previous_style = this.value;
       })
   
       $('#id_fit').on('focus', function(){ 
           previous_fit = this.value;
       }).change(function(){
           angular.element('#productsController').scope().update_tagurl($(this).val(), previous_fit);
           previous_fit = this.value;
       })

       $('#id_use_type').on('focus', function(){ 
           previous_use_type = this.value;
       }).change(function(){ 
           angular.element('#productsController').scope().update_tagurl($(this).val(), previous_use_type);
           previous_use_type = this.value;
           
       })

       $('#id_ordering').change(function(){
           angular.element('#productsController').scope().update_filterurl($(this).attr('name'), $(this).val());
       })
   }
   </script>
</div>
  <div>
   {% include 'products/includes/main.html' %}
  </div>
</div>
</div>
<script>
$('.cart_adder').click(function(event){
   $.post(
      "{% url 'carts:add' %}",
      {
         product_id: $(this).data('product_id'),
         csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      function(data){
          alert(data);
      }
   )
   .fail(function(){ 
      alert("I'm sorry and error occured.");
   });
});
</script>
{% endblock content %}
