{% extends 'base.html' %}
{% load staticfiles %}
{% block head_tags %}
<script src="{% static 'products/js/ctrl.js' %}"></script>
{% endblock head_tags %}
{% block content %}
<div ng-app="productsApp">
<div id="productsController" ng-controller="productsController">
   {% include 'products/includes/sidebar_categories.html' %}
<div>
   <form>
      <label for="q">Sort By</label>
      <select id="id_ordering" name="ordering">
         <option value="price">Low to High</option>
         <option value="-price">High to Low</option>
      </select>
      <button type="submit">Sort</button>
   </form>
 
   {{ filter_form.as_p }}
   {{ shirt_filter_form.as_p }}
   <script>
   window.onload = function(){
       $('#id_style').change(function(){
           angular.element('#productsController').scope().update_filterurl($(this).attr('name'), $(this).val());
       })
       $('#id_color').change(function(){
           angular.element('#productsController').scope().update_filterurl($(this).attr('name'), $(this).val());
       })
       $('#id_ordering').change(function(){
           angular.element('#productsController').scope().update_filterurl($(this).attr('name'), $(this).val());
       })
   }
   </script>
</div>
   {% include 'products/includes/main.html' %}
</div>
</div>
<script>
$('.cart_adder').click(function(event){
   $.post(
      "{% url 'carts:add' %}",
      {
         product_id: $(this).data('product_id'),
         csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      function(data){
          alert(data);
      }
   )
   .fail(function(){ 
      alert("I'm sorry and error occured.");
   });
});
</script>
{% endblock content %}
